NoderedFIles/simulacion.txt
[{"id":"41aca16.bcc4b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cead1a73.f94178","type":"serial in","z":"41aca16.bcc4b6","name":"","serial":"75c07b73.120724","x":83,"y":170,"wires":[["8821a588.7cc678"]]},{"id":"8821a588.7cc678","type":"function","z":"41aca16.bcc4b6","name":"","func":"var readings = {};\nvar values = msg.payload.split(\",\");\nfor (var i = 0; i < values.length; i++) {\n    var items = values[i].split(\":\");\n    //msg.payload = items[0];\n    readings[items[0].trim()] = parseFloat(items[1]);\n}\nmsg.readings = readings;\n\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":166,"wires":[["6a6fe8a6.5feef8","2053205f.8b52","8ee25da2.97db7"]]},{"id":"6a6fe8a6.5feef8","type":"function","z":"41aca16.bcc4b6","name":"Función seno","func":"msg.payload = msg.readings.sin;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":138,"wires":[["79e600ce.62853"]]},{"id":"2053205f.8b52","type":"function","z":"41aca16.bcc4b6","name":"Función coseno","func":"msg.payload = msg.readings.cos;\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":217,"wires":[["a883ed8e.7a1c3"]]},{"id":"a883ed8e.7a1c3","type":"ui_chart","z":"41aca16.bcc4b6","name":"cos","group":"8e8ecc7b.ade1a","order":2,"width":0,"height":0,"label":"Funcion cos","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#d96b0a","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650.5,"y":217,"wires":[[]]},{"id":"79e600ce.62853","type":"ui_chart","z":"41aca16.bcc4b6","name":"sin","group":"8e8ecc7b.ade1a","order":1,"width":0,"height":0,"label":"Funcion seno","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":653.5,"y":137,"wires":[[]]},{"id":"8ee25da2.97db7","type":"function","z":"41aca16.bcc4b6","name":"Potenciometro","func":"msg.payload = msg.readings.Potenciometro;\nreturn msg;","outputs":1,"noerr":0,"x":433,"y":288,"wires":[["88e740c2.e71f8"]]},{"id":"88e740c2.e71f8","type":"ui_gauge","z":"41aca16.bcc4b6","name":"Voltaje [0, 3.3v]","group":"8e8ecc7b.ade1a","order":4,"width":0,"height":0,"gtype":"wave","title":"Potenciometro","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":643.5,"y":289,"wires":[]},{"id":"61aa54a3.dbeadc","type":"ui_numeric","z":"41aca16.bcc4b6","name":"","label":"Porcentaje de voltaje a LED [0 a 100]","tooltip":"","group":"8e8ecc7b.ade1a","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":214,"y":441,"wires":[["fcf4c68.7ce6b38"]]},{"id":"5da35dd1.512114","type":"serial out","z":"41aca16.bcc4b6","name":"","serial":"75c07b73.120724","x":873.5,"y":402,"wires":[]},{"id":"fcf4c68.7ce6b38","type":"trigger","z":"41aca16.bcc4b6","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":583,"y":408,"wires":[["5da35dd1.512114"]]},{"id":"75c07b73.120724","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"8e8ecc7b.ade1a","type":"ui_group","z":"","name":"Simulacion","tab":"ed515b6c.b2a178","disp":true,"width":"6","collapse":false},{"id":"ed515b6c.b2a178","type":"ui_tab","z":"","name":"Tanque","icon":"dashboard","disabled":false,"hidden":false}]
